{
    "host": "127.0.0.1",
    "port": 21026,
    "rconPass": "rcon",
    "serverLogPath": "./../storage/starbound_server.log",
    "discordToken": "BotTokenGoesHere",
    "discordChannelID": "ChannelIDGoesHere"
}